.navbar-google{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-google-item{
  margin: 10px;
  margin-bottom: 170px;
}

a{
  text-decoration: none;
  color: black;
}

.div-image-google{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.input-google{
  padding-left: 10px;
  display: flex;
  z-index: 3;
  height: 44px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(632px + 6px);
  width: 584px;
  max-width: 584px;
}

.button-search{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3a4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0px 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.h1-advanced{
  color: #d93025;
  font-size: 20px;
  margin: 25px 25px;
}

.h2-advanced{
  padding-left: 10px;
  font-size: 16px;
  color: #333333;
}

.linha{
  border-bottom: 1px solid #eeeeee;
}

.div-advanced{
  margin: 50px;
}

.row-input{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin: 50px;
  padding-left: 10px;
}

.left{
  width: 200px;
}

.right{
  width: 385px;
}

.p-advanced{
  font-size: 13px;
  vertical-align: middle;
}

.btn-advanced{
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
}

.btn-div{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
